.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .auth-input {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f2f2f2;
    width: 300px;
  }
  
  .auth-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .auth-toggle-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    color: #666;
  }
  